@model IEnumerable<MovieList.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Filter">
    <div class="input-group mb-3">
        <input type="text" name="title" class="form-control" placeholder="Search on title" />
        <div class="input-group-append">
            <select name="genre" asp-items="@Html.GetEnumSelectList<Genre>()" class="form-control"></select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>


<partial name="MovieListPartial" />
