@model MovieList.Models.MovieViewModel

@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>

<form asp-action="Filter2">
    <div class="input-group mb-3">
        <input type="text" asp-for="Title" class="form-control" placeholder="Search on title" />
        <div class="input-group-append">
           <select asp-for="Genre" asp-items="@Model.Genres" class="form-control">
               <option selected="selected" value="">Please select</option>
           </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>


<partial name="MovieListPartial" model="@Model.Movies" />

